{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<h1 class="text-4xl font-bold mb-6 text-center">Inscription</h1>
{{ form_errors(registrationForm) }}

<div class="bg-white text-black p-8 rounded-lg shadow-lg max-w-md mx-auto">
    {{ form_start(registrationForm) }}
    
    <div class="mb-4">
        {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(registrationForm.email, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(registrationForm.email) }}
    </div>
    
    <div class="mb-4">
        {{ form_label(registrationForm.plainPassword, 'Password', {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline'}}) }}
        {{ form_errors(registrationForm.plainPassword) }}
    </div>
    
    <div class="mb-4">
        {{ form_row(registrationForm.agreeTerms, {'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'}}) }}
    </div>
    
    <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Register
        </button>
    </div>
    
    {{ form_end(registrationForm) }}
</div>

{% endblock %}
