<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# {{ encore_entry_link_tags('app') }} #}
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

			<script src="https://cdn.tailwindcss.com"></script>
			<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.css" rel="stylesheet"/>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"></script>
			<link href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css" rel="stylesheet"/>
			<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js"></script>
			<script src=" https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js "></script>

		{% endblock %}

		{% block javascripts %}{% endblock %}
	</head>
	<body
		class="bg-gray-900 text-white">
		<!-- Navbar -->
		<nav class="bg-gradient-to-r from-purple-500 to-blue-500 p-4 shadow-lg">
			<div class="container mx-auto flex justify-between items-center">
				<a href="#" class="text-white text-2xl font-bold">Reunion Agenda</a>
				<div class="space-x-4">

					<a href="{{ path('meeting_index')}}" class="text-white hover:text-gray-300">Accueil</a>

					{% if app.user %}

						{% if is_granted('ROLE_ADMIN') %}

							<a href="{{ path('app_admin') }}" class="text-white hover:text-gray-300">Tableau de bord</a>

						{% endif %}

						<a href="{{ path('app_logout') }}" class="text-white hover:text-gray-300">Déconnexion</a>


						<a href="">Profil</a>
					{% else %}

						<a href="{{ path('app_register')}}" class="text-white hover:text-gray-300">Inscription</a>
						<a href="{{ path('app_login')}}" class="text-white hover:text-gray-300">Connexion</a>
					{% endif %}
				</div>
			</div>
		</nav>

		<!-- Contenu Principal -->
		<main class="container mx-auto mt-10"> {% block body %}{% endblock %}
			</main>
		</body>
	</html>
</body></html>
